
<div class="card">
  <div class="card-header">Header</div>

  <div>
    <img src="../../assets/laptops/2/2.jpg" class="card-img-top" alt="..." />
  </div>

  <div class="card-body">
    <h5 class="card-title title">Card title</h5>
    <h6 class="card-subtitle my-2 text-primary">
      Some quick example text to build o
    </h6>
    <p class="card-text description">Description</p>
  </div>


  <div class="card-body">

    <h5 class="card-title text-success">
      Final Price
      <span class="text-primary">-20%</span>
    </h5>

    <h6 class="card-subtitle text-danger text-decoration-line-through">
      Original price
    </h6>

  </div>

  <div class="card-footer d-grid gap-2">
   <button class="btn btn-outline-success" type="button">Add to Cart</button>
  </div>
</div>
