<div class="my-container mx-auto border border-dark">

<div class="mb-4 my-shadow my-rounded-corner overflow-hidden" *ngFor="let suggestedProduct of SuggestedProducts">
   <div class="product-banner position-relative">
    <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
    <img src="../../assets/{{suggestedProduct.banerimage}}" class="w-100"
    alt="Banner Image">
   </div>

   <div class="product-list py-5">
  <app-suggested-products></app-suggested-products>
   </div>
</div>

</div>
